<h2>ACERCA DE</h2>
<mat-card class="example-card card" >
    <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Matias Morales Gálvez</mat-card-title>
      <mat-card-subtitle>Ingeniero de Software</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ longText }}</p>
      <p>{{ expText }}</p>
      <li>Java SpringBoot y Angular como principales lenguajes de programación</li>
      <li>Bases de datos MySQL, MongoDB</li>
      <li>Git</li>
      <li>Productos Atlassian (Jira, Bitcuket, Confluence)</li>
      <li>Docker, Kubernetes</li>
      <li>Conocimientos basicos GCP</li>
      <li>Buenas practicas</li>
      <br>
      <p>{{ thanksText }}</p>
    </mat-card-content>
  </mat-card>